body {
    box-sizing: border-box;
    margin: 0%;
}

h1 {
    text-align: center;
}

#cat-output {
    width: 50%;
    height: 50vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    margin-top: 1rem;
}